.container {
	display: flex;
	flex-direction: row;
	width: 100%;
}

.content {
	width: 100%;
}

.randomRecommand {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.goRecommand {
	padding: 2rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.goRecommand > div {
	margin: 1.4rem 0;
}

.contentTxt {
	font-size: 2rem;
	font-weight: bold;
}

.goRecommandBtn {
	padding: 0.8rem 2rem;
	font-size: 1rem;
	font-weight: bold;
	background-color: black;
	color: white;
	border-radius: 3rem;
}
