.container {
	margin: 1rem;
	display: flex;
	width: 30%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 20px;
	background-color: whitesmoke;
}

.foodname {
	padding: 1rem;
	font-size: 1.6rem;
	font-weight: 800;
}

.foodimg {
	padding: 1rem;
	width: 5em;
	height: 5em;
	border: 1px solid black;
}

.description {
	padding: 1rem;
}
