.container {
	display: flex;
	flex-direction: column;
}

.heading {
	font-size: 2rem;
	font-weight: 800;
	text-align: center;
	padding: 1.2rem;
}

.subText {
	font-size: 1.2rem;
	text-align: center;
	padding: 1.2rem;
}

.recommands {
	display: flex;
	justify-content: center;
	align-items: center;
}
