.container {
	margin: 2em;
	padding: 2em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 1px solid black;
	border-radius: 20px;
}

.headcontainer {
	margin: 1.2rem 0;
}

.headTxt {
	font-size: 2rem;
	font-weight: 700;
}

.grid {
	display: flex;
	margin: 0.8em;

	gap: 1em;
}

.img {
	display: none;
	width: 10em;
	height: 7em;
	border-radius: 15px;
	border: 1px solid black;
}

.lableTxt {
	border: 1px solid black;
	padding: 1.2em;
	border-radius: 15px;
	margin: 0.8rem 0.4rem;
	font-size: 1.4rem;
	font-weight: 700;
}

.nextPage {
	margin: 2rem 0;
}

.nextBtn {
	background-color: black;
	padding: 1rem 2rem;
	color: white;
	border-radius: 15px;
	font-size: 1rem;
}
