.container {
	margin: 2rem;
	padding: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 1px solid black;
	border-radius: 20px;
}

.headTxt {
	font-size: 2rem;
	font-weight: 700;
	padding: 1rem;
}

.grid {
	display: grid;
	margin: 2rem;
	grid-template-rows: 1fr 1fr;
	grid-template-columns: 1fr 1fr;
	gap: 3rem;
}

.nospicy,
.littlespicy,
.prettyspicy,
.amazingspicy {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 1rem;
}

.labelTxt {
	font-size: 1.6rem;
	font-weight: 600;
}

.icon {
	font-size: 5rem;
}
.nextBtn {
	background-color: black;
	padding: 1rem 2rem;
	color: white;
	border-radius: 15px;
	font-size: 1rem;
}
