.container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border-right: 1px solid black;
	padding: 20px;
	height: 94vh;
}

.title {
	font-size: 2rem;
	font-weight: bold;
}
